<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Perfil</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../../ImagenescULTURA/logo.jpg" alt="">Cultura Filadelfia</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">-</a>
                </li>
            </ul>
            <a class="nav-link" href="cursos_alumn.html">Cursos <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="principal_alumno.html">Home <span class="sr-only">(current)</span></a>
        </div>
    </nav>

    <div class="modal-dialog text-center">
        <h1>Actualiza tu Perfil</h1>
    </div>

    <div class="modal-dialog text-center">
        <img src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" alt="foto"
            width="180" height="180">
    </div>
    <div class="modal-dialog text-center">
        <h4>No de Cuenta</h4>
        <h5>123456789</h5>
    </div>
   
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="Jesús">
            </div>
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="Daniel">
            </div>
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="López">
            </div>
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="Gómez">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="micorreoxD@gmail.com">
            </div>
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="contraseña vieja">
            </div>
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="contraseña nueva">
            </div>
            <div class="col-sm-3">
                <input class="form-control form-control-lg" type="text" placeholder="55 1234 5678">
            </div>
        </div>

        <div class="row">
            <label for="inputState"> Fecha de Nacimiento</label>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="19">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="06">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="1998">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label for="inputState">Status Servicio</label>
                <select id="inputState" class="form-control">
                  <option selected>Si</option>
                  <option>No</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="inputState">Status Bautizo</label>
                <select id="inputState" class="form-control">
                  <option selected>Si</option>
                  <option>No</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="inputState">Grupo Familiar</label>
                <select id="inputState" class="form-control">
                  <option selected>Chimalhuacan 2</option>
                  <option>...</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="inputState">Estado Civil</label>
                <select id="inputState" class="form-control">
                  <option selected>Soltero</option>
                  <option>Casado(a)</option>
                  <option>Divorciado(a)</option>
                  <option>Viudo(a)</option>
                  <option>Union Libre</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col">
              <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
          </div>
    </div>









    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>