<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Perfil</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../ImagenescULTURA/logo.jpg" alt="">Cultura Filadelfia</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">-</a>
                </li>
            </ul>
            <a class="nav-link" href="cursos_alumn.html">Cursos <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="Clasi_adm.html"">Home <span class="sr-only">(current)</span></a>
        </div>
    </nav>

    <div class="modal-dialog text-center">
        <h1>Agregar un Curso</h1>
    </div>

    

    <div class="container">
        
        <div class="row">
            <label for="inputState"> Nombre del Curso</label>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Nombre del Curso">
            </div>
        </div>
        <div class="row">
            <label for="inputState"> Nivel</label>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Nivel">
            </div>
        </div>
        <div class="row">
            <label for="inputState"> Curso Anterior</label>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Curso Anterior">
            </div>
        </div>
        <div class="row">
            <label for="inputState">Curso Siguiente</label>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Curso Siguiente">
            </div>
        </div>
        <div class="row">
            <label for="inputState">Descripción</label>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Escriba una Descripción del Curso">
            </div>
        </div>
        <div class="row">
            <label for="inputState">Temario</label>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Agregar Temario">
                
            </div>
            <button type="button" class="btn btn-outline-primary">Subir</button>
        </div>
        <div class="row">
            <label for="inputState">Manual</label>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Agregar Manual">
                
            </div>
            <button type="button" class="btn btn-outline-primary">Subir</button>
        </div>
        <div class="row">
            <label for="inputState">Examen</label>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Agregar Examen">
               
            </div>
            <button type="button" class="btn btn-outline-primary">Subir</button>
        </div>
        <div class="row">
            <label for="inputState">Hoja de respuestas</label>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Agregar Hoja de Respuestas">
                
            </div>
            <button type="button" class="btn btn-outline-primary">Subir</button>
        </div>
        <div class="row">
            <label for="inputState">Imagen del Curso</label>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                 
                <button type="button" class="btn btn-outline-primary">Subir</button>
            </div>
        </div>

    </div>
   
    <div class="jumbotron modal-dialog text-center">
     <h1 class="display-4">Curso Agregado</h1>
      
     <hr class="my-4">
     <p>El curso ha sido agregado con éxito</p>
     <a class="btn btn-success btn-lg" href="#" role="button">Aceptar</a>
   </div>
        
</div>









    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>